.auth-container {
  width: 350px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  background: #f8f8f8;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 12px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}

.auth-container a {
  color: #ff6600;
  text-decoration: none;
  font-weight: bold;
}
